* {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #aaaaaa;
    padding: 50px;
    background-color: #fefefe;
}

button {
    padding: 4px 16px;
}

#round-result {
    margin-top: 0px;
}